<!DOCTYPE html>

<html lang="en">
<style>

</style>
<head>

    {% block title %}<title>OSINT DORKING : Advance search </title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>

<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidenav" id="bar">
                <li><a href="{% url 'advance_search' %}">Home</a></li>
                <li><a href="{% url 'google_search' %}">Google Dorks </a></li>
                <li><a href="{% url 'bing_search' %}">Bing Dorks</a></li>
                <li><a href="{% url 'yandex_search' %}">Yandex Dorks</a></li>
                <li><a href="{% url 'shodan_search' %}">Shodan Dorks</a></li>
                <li><a href="{% url 'duck_search' %}">duckduckgo Dorks</a></li>
            </ul>
            {% endblock %}
        </div>
        <div align="center" class="container-fluid">
                <div class="card" style="border: red;">
                    <h2 class="card-header" style="color: red;"><strong>ADVANCE SEARCH PROJECT</strong></h2>
                        <div class="card-body">
                            <h2 class="card-title" style="color: red;"><strong>OSINT DORKS</strong></h2>
                                <p class="card-text" style="color: white;"><strong>Google | Bing | shodan | yandex | duckduckgo</strong> </p>
                        </div>
                    <br>
                    <h1 class="card-title" style="color: white;"><b><strong>SHODAN</strong></b></h1>
                </div>
            </div>
        <div class="col-sm-30">
            {% block content %}
             <div align="left">
                 <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="openNav()">Open</button>
             </div>
            {% endblock %}
        </div>

        <br>

        <div align="center" class="opacityform row g-3">
            <form action = "shodan" method = "POST" class="row g-3" >
                {% csrf_token %}
                <div class="col-md-12">
                    <label for="inputcommand" class="form-label">Manual command execution: </label>
                    <input id="inputcommand" type="text" name="inputcommand" class="form-control" >
                    <input type="submit" value="exec" class="form-select btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>